body {

}
.fund{
   background-color: lightgray;
   font-family: Arial, Helvetica, sans-serif;
}

.fundo h2{
    text-align: center ;
}

div.game {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, auto);
    gap: 0;
}

div.field {
    border: 1px solid #000000;
    width: 100px;
    color: transparent;
    height: 100px;
}

div.choiceX {
    background-color: red;
}

div.choiceCircle {
    background-color: green;
}