body {
 text-align: center;
}

.fund{
   background-color: lightgray;
   font-family: Arial, Helvetica, sans-serif;
}

.fundo h2{
    text-align: center ;
}

div.game {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, auto);
    gap: 0;
}

div.field {
    user-select: none;
    border: 1px solid #000000;
    width: 100px;
    color: transparent;
    height: 100px;
}

div.field img {
    width: 100px;
}

div.choiceX {
    background-color: red;
    /*background-image: url("../img/alvaro.jpg");*/
    /*background-size: 100px;*/
}

div.choiceCircle {
    background-color: green;
    /*background-image: url("../img/mizael.jpg");*/
    /*background-size: 100px;*/
}